/*page commande*/
.fondgallery{
    background-image: url(../worldOfFaces/images/fond.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.article {
    width: 80%;
    background-color: rgba(54, 54, 54, 0.5);
    height: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    }

.reverse{
    flex-direction: row-reverse;
    margin-left: 20%;
}

.text{
    color: azure;
}

@media screen and (min-width: 900px){
    .hauteur{
    height: 50%;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: 10px;

    }
}

@media screen and (max-width: 900px){
    .hauteur{
        padding: 10px;}
        .article {
        width: 100%;
        background-color: rgba(54, 54, 54, 0.5);
        height: auto;
        margin: auto;
        margin-bottom: 3em;
        }
}

img{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
img:hover {
-webkit-filter: grayscale(0);
filter: grayscale(0);
}
