
/*animation*/
@keyframes fondu {
    100% {
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}

/*Header*/
/*suprime les bordures navigateur
.main{
    border: 0;
    padding: 0;
    margin: 0;
}*/

.anim {
    background-image: url(../worldOfFaces/images/fond.png);
}

.header{
    /*border: 5px solid white;*/
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.jim{
    padding: 1em;
    vertical-align: center;
    font-size: 40px;
    animation-delay: 2s;
    animation: fondu 5s;
}
.presente{
    text-align: center; 
    font-size: 25px;
    animation-delay: 5s;
    animation: fondu 5s;


}
.apropos{
    vertical-align: bottom;
    color: white;
    text-align: right;
    padding: 10px;
    animation-delay: 2s;
    animation: fondu 5s;
}
.apropos a {
    color: white;
}
.titre{
    position: relative;
    font-size: 80px;
    margin-top: 0;
    text-align: center;
    animation-delay: 10s;
    animation: fondu 5s;
}

#formumu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;
    }

/*entrez dans la galerie-------------------------------------------------*/
.galerie{
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    color: white;
    font-size: 50px;
    margin-top: 2em;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    animation-delay: 2s;
    animation: fondu 25s;
}
/*page commande*/
body{
    background-image: url(../worldOfFaces/images/fond.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.article {
    width: 80%;
    clear: both;
    border: 5px solid red;
    height: 400px;
}
div.article img{
    border: 20px solid rgb(255, 255, 255);
    padding-left: 300px;
    background-color: rgba(54, 54, 54, 0.7);
}
.picture{


}

.responsive {
padding: 20px 6px;
float: left;
width: 30%;
clear: both;
}
div.gallery {
border: 20px solid rgb(255, 255, 255);
padding-left: 300px;
background-color: rgba(54, 54, 54, 0.7);

}

div.gallery:hover {
border: 2px solid white;
}

div.gallery img {
width: 100%;
height: auto;
border: solid 2px white;
}

div.desc {
padding: 15px;
text-align: center;
}

/** {
box-sizing: border-box;
}*/


.responsivetext {
padding: 20px 6px;
float: right;
width: 30%;
color: aliceblue;
background-color: rgba(54, 54, 54, 0.5);
}
.responsiveright {
padding: 20px 6px;
float: right;
width: 30%;
clear: both;

}
@media only screen and (max-width: 700px) {
.responsive {
width: 49.99999%;
margin: 6px 0;
}
.responsiveright {
width: 49.99999%;
margin: 6px 0;
}
.responsivetext {
padding: 20px 6px;
width: 80%;
}
}

@media only screen and (max-width: 500px) {
.responsive {
width: 100%;
}
.responsiveright {
width: 100%;
}
.responsivetext {
padding: 20px 6px;
width: 80%;
}
}

.clearfix:after {
content: "";
display: table;
clear: both;
}


