
/*animation*/
@keyframes fondu {
    100% {
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
}

/*Header*/
/*suprime les bordures navigateur
.main{
    border: 0;
    padding: 0;
    margin: 0;
}*/
body{
    animation: fondu 5s;
}

.fond {
    background-image: url(../worldOfFaces/images/fond.png);

}
.container{
    background-color: rgba(255, 255, 255, 0.445);
    padding-bottom: 35px !important;

}
#prop{
    text-align: center;
    text-decoration: none !important;
}

#prop,.jim{
    padding: 30px;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: white
}

/* EFFET DE SOULIGNEMENT A PROPOS --------------------------*/
#prop:after {
    display:block;
    content: '';
    border-bottom: solid 1px #000000;  
    transform: scaleX(0);  
    transition: transform 400ms ease-in-out;
}
#prop:hover:after {
    transform: scaleX(1); 
    color: white !important;
    text-decoration: none !important;
    }
/* -------------------------------------------------------------- */


.presente{
    color: black;
    font-family: 'Playfair Display', serif;
    text-align: center; 
    font-size: 25px;
    text-transform: uppercase;
}

.titre{
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    margin-top: 0;
    text-align: center;
}
#bouton{
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.btn{
    font-size: x-large !important;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.btn:after {
    display:block;
    content: '';
    border-bottom: solid 1px #000000;  
    transform: scaleX(0);  
    transition: transform 400ms ease-in-out;
}
.btn:hover:after { transform: scaleX(1); }

/*page commande*/
body{
    background-image: url(../worldOfFaces/images/fond.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.article {
    width: 80%;
    clear: both;
    border: 5px solid red;
    height: 400px;
}
div.article img{
    border: 20px solid rgb(255, 255, 255);
    padding-left: 300px;
    background-color: rgba(54, 54, 54, 0.7);
}

.responsive {
padding: 20px 6px;
float: left;
width: 30%;
clear: both;
}
div.gallery {
border: 20px solid rgb(255, 255, 255);
padding-left: 300px;
background-color: rgba(54, 54, 54, 0.7);

}

div.gallery:hover {
border: 2px solid white;
}

div.gallery img {
width: 100%;
height: auto;
border: solid 2px white;
}

div.desc {
padding: 15px;
text-align: center;
}

.responsivetext {
padding: 20px 6px;
float: right;
width: 30%;
color: aliceblue;
background-color: rgba(54, 54, 54, 0.5);
}
.responsiveright {
padding: 20px 6px;
float: right;
width: 30%;
clear: both;

}
@media only screen and (max-width: 700px) {
.responsive {
width: 49.99999%;
margin: 6px 0;
}
.responsiveright {
width: 49.99999%;
margin: 6px 0;
}
.responsivetext {
padding: 20px 6px;
width: 80%;
}
}

@media only screen and (max-width: 500px) {
.responsive {
width: 100%;
}
.responsiveright {
width: 100%;
}
.responsivetext {
padding: 20px 6px;
width: 80%;
}
}

.clearfix:after {
content: "";
display: table;
clear: both;
}